@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #222222 ;
  color: white;
}

.landingpage {
  background-image: url('./assets/background.webp');
}

.font-PublicPixel {
  font-family: "PublicPixel", sans-serif;
}
